.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align : center;
    margin : 10vh 10vw;
}

.box{
    width: 40vw;
    height: 50vh;
}

.project_picture img{
    width: 30vw;
}