.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align : center;
    margin : 10vh 10vw;
}

.box{
    width: 400px;
    height: 60vh;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
    color: white;
}

.empty_box{
    width: 400px;
    height: 55vh;
}

.project_picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_title{
    width: 300px;
    color: white;
    margin-bottom: 10px;
    border-bottom : 1px solid white;
    margin-top: 10px;
}

.project_picture img{
    width: 300px;
    height: 30vh; 
    object-fit: contain;
}

.project_picture video{
    height : 30vh;
    max-width : 400px;
    object-fit: cover;
}
.project_picture .pic_divide{
    width: 150px;
    height: 30vh; 
    object-fit: cover;
}

.project_inf{
    margin-top: 10px;
    opacity: 0.8;
}   
.project_url{
    margin: 10px 0;
    opacity: 0.8;
}

.project_stack{
    opacity: 0.8;
}