header{
    display: flex;
    justify-content: center;
    margin-top : 5vh;
}
.header_left{
    width: min(300px, 45vw);
    margin-right: 2vw;
}

.header_left img{
    width: min(300px, 45vw);
    object-fit: contain;
}

.header_right{
    display: flex;
    flex-direction: column;
    word-break: break-word;
    width: min(300px, 30vw);
    margin-left: 2vw;
}

.name{
    font-size: 45px;
    color : white;
    font-weight: 350;
    opacity: 0.8;
}

.my_inf{
    margin-top: 2vh;
    font-size: 25px;
    color: white;
    opacity: 0.6;
}